body,
#closed-captions {
    width: 700px;
    margin: auto;
}

/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions p {
    opacity: 0;
    /*    transition: .05s;*/
    position: absolute;
}

#closed-captions .on {
    opacity: 1;
}

#closed-captions .off {
    transition: .1s;
    opacity: 0;
}

/* **********************************************
Each voice gets it's own style to make sure the
viewer knows who's talking
********************************************** */

.voice1 {
    font-family: "Brenner";
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
}

.voice2 {
    font-family: "Brenner Mono";
    font-style: Normal;
    font-weight: 400;
    font-size: 18px;
}

.voice3 {
    font-family: "Brenner Sans";
    font-style: Normal;
    font-weight: 800;
    font-size: 16px;
    /*    transform: scale(1, 0.8);*/
}

.voice4 {
    font-family: "Brenner";
    font-style: italic;
}

/* **********************************************
The first paragraph, with extended timing for
    all siblings. Basically what it does is that
    it shows the text after a delay, which
    corresponds with the time that the word is
    spoken.
You probably want to change the styling.
********************************************** */
.p0 span {
    opacity: 0;
}

.p0.on span:first-of-type,
.p0.on span:nth-of-type(2),
.p0.on span:nth-of-type(3),
.p0.on span:nth-of-type(4),
.p0.on span:nth-of-type(5),
.p0.on span:nth-of-type(6),
.p0.on span:nth-of-type(7),
.p0.on span:nth-of-type(8) {
    opacity: 1;
    transition: 0.1s;
    margin-right: -.1em;
}

.p0.on span:first-of-type {
    margin-right: .2em;
}

.p0.on span:nth-of-type(9),
.p0.on span:nth-of-type(10) {
    opacity: 1;
    transition: 0s 2.8s;
}

.p0.on span:nth-of-type(9) {
    margin-left: .7em;
}

.p0.on span:nth-of-type(11) {
    opacity: 1;
    transition: 0s 3.9s;
    margin-right: -.25em;
    font-size: 60px;
}

.p2.on span:first-of-type,
.p2.on span:nth-of-type(2) {
    color: black;
}

.p2.on span:nth-of-type(3) {
    letter-spacing: 5px;
    margin-left: 5px;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    background-size: 100% 2px, 0% 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s linear;
}

.p3.on span:nth-of-type(6) {
    transition-delay: 2s;
    transition: transform 2s ease-in-out;
    transform: rotate(1turn);
    display: inline-block;
}

.p9.on span,
.p12.on span {
    text-align: right;
    display: inline-block;
    color: red;
}

/* **********************************************
Sounds.
    You can style the whole body, or you can
    style anything within the body the moment
    a sound starts.
*********************************************  */

/* The moment the class .sound1 is added to the body, the background is yellow */
.sound2 {
    transition: 2.5s;
    background: #8b0000;
}

.sound3 {
    transition: .5s;
    background: white;
}

iframe {
    display: block;
}

/* The moment the class .sound1 is added to the body, the movie makes a turn */
.sound2 iframe {
    /*
    transition-delay: 1s;
    transition: 2s;
    transform: rotate(1turn);
*/
}
