html {
    padding: 50px;
}

#video-placeholder,
#closed-captions {
    width: 700px;
    margin: auto;
}

/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions p {
    opacity: 0;
    /*    transition: .05s;*/
    position: absolute;
}

#closed-captions .on {
    opacity: 1;
}

#closed-captions .off {
    transition: .1s;
    opacity: 0;
}

/* **********************************************
Each voice gets it's own style to make sure the
viewer knows who's talking
********************************************** */

.voice1 {
    font-family: "Brenner Sans";
    font-style: italic;
    font-weight: 600;
    font-size: 19px;
    color: #ebc034;
/*    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
}

.voice2 {
    font-family: "Brenner Mono";
    font-style: Normal;
    font-weight: 500;
    font-size: 17px;
}

.voice3 {
    font-family: "Brenner Sans";
    font-style: Normal;
    font-weight: 800;
    font-size: 17px;
/*    color: #C41919;*/
        transform: scale(1, 0.9);
}

.voice4 {
    font-family: "Brenner";
    font-style: italic;
}

/* **********************************************
The first paragraph, with extended timing for
    all siblings. Basically what it does is that
    it shows the text after a delay, which
    corresponds with the time that the word is
    spoken.
You probably want to change the styling.
********************************************** */
.p0 span {
    opacity: 0;
}

.p0.on span:first-of-type,
.p0.on span:nth-of-type(2),
.p0.on span:nth-of-type(3),
.p0.on span:nth-of-type(4),
.p0.on span:nth-of-type(5),
.p0.on span:nth-of-type(6),
.p0.on span:nth-of-type(7),
.p0.on span:nth-of-type(8),
.p0.on span:nth-of-type(9) {
    opacity: 1;
    transition: 0.1s;
    margin-right: -.1em;
}

.p0.on span:first-of-type {
    margin-right: .2em;
}

.p0.on span:nth-of-type(10),
.p0.on span:nth-of-type(11) {
    opacity: 1;
    transition: 0s 2.8s;
}

.p0.on span:nth-of-type(10) {
    margin-left: .7em;
}

.p0.on span:nth-of-type(12) {
    opacity: 1;
    transition: 0s 3.9s;
    margin-right: -.25em;
    font-size: 30px;
}

/*
.p2.on span:nth-of-type(4) {
    letter-spacing: 5px;
    margin-left: 5px;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    background-size: 100% 2px, 0% 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s linear;
}
*/

/*
.p3.on span:nth-of-type(6) {
    transition-delay: 2s;
    transition: transform 2s ease-in-out;
    transform: rotate(1turn);
    display: inline-block;
}
*/

.p7.on {
    max-width: 700px;
}

/* **********************************************
Sounds.
    You can style the whole body, or you can
    style anything within the body the moment
    a sound starts.
*********************************************  */
iframe {
    display: block;
}

.sound1 #alarm {
    transition: 0.5s;
    width: 120px;
    height: auto;
    animation: sound1 2s ease;
}

@keyframes sound1 {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    50% {
        transform: scale(1.5);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.sound2 #alarm {
    transition: 0.5s;
    width: 120px;
    height: auto;
    animation: sound2 1.6s ease;
}

@keyframes sound2 {
    0% {
        margin-right: 50px;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        margin-right: -50px;
        opacity: 0;
    }
}

.sound3 #alarm {
    transition: 0.5s;
    width: 120px;
    height: auto;
    animation: sound3 1.9s ease;
}

@keyframes sound3 {
    0% {
        margin-top: 0px;
        opacity: 0;
    }

    35% {
        margin-top: 50px;
        opacity: 1;
    }

    100% {
        margin-top: -50px;
        opacity: 0;
    }
}

.sound6 #alarm {
    transition: 0.5s;
    width: 120px;
    height: auto;
    animation: sound6 1.9s ease;
}

@keyframes sound6 {
    0% {
        margin-top: 0px;
        opacity: 0;
    }

    35% {
        margin-top: 50px;
        opacity: 1;
    }

    100% {
        margin-top: -50px;
        opacity: 0;
    }
}

.sound8 iframe {
    animation: sound8 45s ease-out;
}

@keyframes sound8 {
    0% {
        box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0);
        transform: skewX(0deg);
    }

    96% {
        box-shadow: 0px 0px 100px 5px rgba(255, 0, 0, 1);
        transform: skewX(5deg);
    }

    100% {
        box-shadow: none;
        transform: skewX(0deg);
    }
}

.image {
    display: block;
    float: right;
    transition: 0.5s;
    margin-right: 200px;
    margin-top: -220px;

}

#alarm {
    opacity: 0;
    max-height: 120px;
    max-width: 120px;
}
